<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.studentAdmin.dao.mapper.UserFriendMapper">
    <select id="checkFriendShip" resultType="com.studentAdmin.domain.UserFriend">
        select id id,
               user_id userId,
               friend_id friendId,
               create_date createDate
               from user_friend
               where
                ( user_id = #{userId} and friend_id = #{friendId})
                or
                ( user_id = #{friendId}  and friend_id = #{userId})
    </select>
    <insert id="beFriendShip">
           insert into user_friend (user_id , friend_id , create_date )
            values (#{userId},#{friendId},now())
    </insert>

    <delete id="deleteFriendShip">

          delete from user_friend
           where
                ( user_id = #{userId} and friend_id = #{friendId})
                or
                ( user_id = #{friend}  and friend_id = #{userId})
    </delete>

    <select id="qryUserFriend" resultType="com.studentAdmin.domain.UserFriend">
        select b.* from
        ( SELECT
        USER.user_id userId,
        USER.user_name userName,
        USER.sex sex,
        USER.user_occupation occupation,
        a.createDate createDate,
        USER.user_age userAge
        FROM
        USER RIGHT JOIN (
        SELECT
        friend_id friendId,
        create_date createDate
        FROM
        `user_friend`
        WHERE
        user_id = #{userId} UNION
        ( SELECT user_id friendId, create_date createDate FROM `user_friend` WHERE friend_id = #{userId} )
        ) a ON a.friendId = USER.user_id ) b
        <where>
            <if test="friendName!=null and friendName !=''">
                b.userName like concat('%',#{friendName},'%')
            </if>
        </where>
    </select>


</mapper>