<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.studentAdmin.dao.mapper.UserFollowMapper">

    <select id="getUserFollowList" resultType="com.studentAdmin.domain.VOs.UserFollowVO">
        SELECT
	user.user_id userId,
	user.user_name userName,
	user.sex sex,
	user.user_occupation userOccupation,
	a.create_date createDate,
	user.user_age userAge,
	a.follow_id followId
     FROM
	USER RIGHT JOIN ( SELECT follow_id , followed_id , create_date ,user_id FROM user_follow ) a ON a.followed_id = USER.user_id
	  where a.user_id =#{userId}
	  order by createDate desc

    </select>

    <delete id="deleteFollowById">
		    delete from user_follow where follow_id = #{id}
	  </delete>
</mapper>
